:root{
    --color1: #DDFCAD;
    --color2: #82846D;
    --bg:#3c3a3c;

}
body{
    margin: 0;
    background-color: var(--bg);
    display: flex;
    min-height: 100dvh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
